* {
    font-family: Agave Nerd Font;
    font-size: 16px;
    font-weight: bold;
}
window#waybar {
    background-color: transparent;
    color: #ffffff;
    
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: transparent;
}
button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 100%;
    min-width: 22px;
    min-height: 16px;
}

#workspaces {
    padding: 0px 16px 0px 16px;
    border-radius: 16px;
    background-color: #282a36;
}
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button.focused {
    background-color: #ffffff;
    color: #282a36;

}

#workspaces button.urgent {
    background-color: #ef8091;
    color: #282a36;
}

#mode,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces,

.modules-left {
  margin-left: 16px;
}

/*
.modules-center {
  
}
*/

.modules-right {
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 16px;
  border-radius: 16px;
  background-color: #282a36; 
}

#battery {
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #afde80;
}

#battery.critical:not(.charging) {
    color: #ef8091
}
